* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {

    --cor-principal-laranja: hsl(37, 98%, 39%);
    --cor-fundo-cinza: hsl(221, 51%, 16%);
    --cor-footer: hsl(0, 0%, 90%);
    --cor-text-2: hsl(225, 12%, 87%);
    --cor-text-3: hsl(225, 12%, 40%);
}

body {
    background: var(--cor-fundo-cinza);
}

.box-content {
    width: 100%;
    margin: auto;
    padding-inline: 2.4rem;
}

/* ==MENU== */
.menu {
    padding-top: 2rem;
    height: 6rem;
}

.lista-menu {
    width: 55rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;

    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;
    text-transform: uppercase;
    border: 4px;
    border: rgba(250, 242, 242, 0.43) 0.2px solid;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 11px 5px rgba(250, 242, 242, 0.43);
    box-shadow: 0px 2px 11px 5px rgba(237, 233, 233, 0.43);
}

.lista-menu a {
    text-decoration: none;
    color: #fff;
}

/* ==HOME== */
.home {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    gap: 4rem;
}

.home-img {
    width: 22rem;
    height: auto;
    border-radius: 8px;
}

.home-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2rem;
}

.home-conteudo h1 {
    font-size: 3rem;
    color: var(--cor-principal-laranja);
}

.home-conteudo h2 {
    color: #fff;
}

.home-conteudo p {
    color: var(--cor-footer);
}

.home-button {
    background: var(--cor-principal-laranja);
    color: #fff;
    font-size: 1rem;
    width: 8rem;
    height: 2rem;

    border: none;
    border-radius: 6px;
    transition: all 0.5s;
}

.home-button:hover {
    -webkit-transform: scale(1);
    transform: scale(1.2);
}

/* ==PERFIL== */
.perfil {
    text-align: center;

    margin-top: 8rem;
    padding-bottom: 8rem;
    padding-inline: 10rem 20rem;

    background: var(--cor-text-2);
}

.perfil-titulo h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--cor-fundo-cinza);
}

.perfil-conteudo {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.perfil-img {
    width: 36rem;
    border-radius: 8px;
}

.perfil-conteudo p {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.6rem;
    padding-top: 2rem;
}

/* ==APERFEIÇOAMENTOL== */
.aperfeicoamento {
    width: 100vw;
    height: 40vh;
}

.aperfeicoamento h2 {
    color: #fff;
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.aperfeicoamento p {
    color: var(--cor-principal-laranja);
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.aper-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card img {
    width: 8rem;
    height: 6.3rem;
    margin: auto;

    transition: all 1s;
    cursor: pointer;
}
.card img:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

/* ==EXPERIENCIA== */
.trabalhos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trabalhos h2 {
    color: #fff;
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.trab-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.trab-card img {
    width: 14rem;
    border-radius: 10px;
    transition: all 0.5s;
}

.trab-card img:hover {
    -webkit-transform: scale(1);
    transform: scale(1.2);
}

.trabalhos-button {
    background: var(--cor-principal-laranja);
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    width: 12rem;
    height: 3rem;

    border: none;
    border-radius: 6px;

    transition: all 0.5s;
    cursor: pointer;
}

.trabalhos-button:hover {
    -webkit-filter: drop-shadow(5px 5px 5px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(2px 2px 2px rgb(245, 242, 242));
}

.experiencia {
    background: var(--cor-text-3);
    width: 100vw;
    height: auto;
}

/* ==CONTATO== */
.contato {
    background: var(--cor-text-2);
    margin-bottom: 4rem;
    height: 18rem;
    border-radius: 8px;
}
.contato-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem 0;
}
.contato h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--cor-fundo-cinza);
    text-transform: uppercase;
}
.footer-contato {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.footer-contato h4 {

    font-size: 1rem;
    text-align: center;

    font-weight: 700;
    color:var(--cor-principal-laranja);
    
}
.footer-icons {
    display: flex;
    gap: 2rem;
}
.footer-icon {
    width: 3rem;
}